*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HERO SECTION */
.cont1{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    display: flex;
}

.hero1{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
   
}

.selfcont{
    position: absolute;
    left: 15em;
    top: 23em;
   
}

.selfcont h3{
    font-size: 2em;
}

.selfcont h1{
    font-size: 4.5em;
}

.selfcont p{
    font-size: 2em;
}

.hirebtn{
    margin-top: 70px;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: #ffbf11;
}

.hirebtn:hover{
    background-color: #fff;
}

.hero2{
    width: 70%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/self1.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat ;
    
    
}

.navbar{
    display: inline-flex;
    width: 100%;
    height: 60px;
    background-color: #000;
    justify-content: center;

}

.navbar ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: larger;
}

.navbar a:hover{
    color: #ffbf11;
}

#active{
    border-bottom: 3px solid #ffbf11;

}


/* ABOUT SECTION */

.cont2{
    width: 100%;
    height: 60vh;
    display: flex;

}

.self1{
    width: 40%;
    height: 100%;
    background-color: #fff;
    align-items: center;
    padding: 40px;
}

.selfimg{
    width: 70%;
    height: 85%;
    background-color: #ffbf11;
}

.selfimg2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/self2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    left:2em;
    top: 2em;

}

.abtme{
    width: 60%;
    height: 100%;
    padding-top: 50px;

}

.abtme h3{
    font-size: 2em;
    line-height: 1.2;
}

.abtme h2{
    font-size: 3em;
    margin: 20px 0 20px 0;
    color: #ffbf11;
}

.abtme p{
    font-size: 1.5em;
}

.abtme hr{
    width: 95%;
    border:2px solid #ffbf11;
   
}

.abtme button{
    background-color: #ffbf11;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
}

/* SERVICES SECTION */


/* PORTFOLIO SECTION */


/* CONTACT ME SECTION */


/* FOOTER SECTION */

.footersect{
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #ffbf11;
    display: flex;
    align-items: center;
    
}

.ftsect1{
    width: 40%;
    height: 100%;
    
}

.ftsect2{
    width: 60%;
    height: 100%;

}
    
.ftsect2 i {
    margin-right: 20px;
}
