*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HERO SECTION */
.cont1{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    display: flex;
}

.hero1{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
   
}

.selfcont{
    position: absolute;
    left: 15em;
    top: 23em;
   
}

.selfcont h3{
    font-size: 2em;
}

.selfcont h1{
    font-size: 4.5em;
}

.selfcont p{
    font-size: 2em;
}

/* .hirebtn{
    margin-top: 70px;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: #ffbf11;
}

.hirebtn:hover{
    background-color: #fff;
} */
/* button styling start */
/* From cssbuttons.io by @westitan */

button {
    position: relative;
    padding: 19px 36px;
    margin-top: 40px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 40px;
    border: none;
   }
   
   button span {
    position: relative;
    color: #fff;
    letter-spacing: 8px;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 1;
   }
   
   button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #ffbf11;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
   }
   
   button .liquid::after,
   button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
   }
   
   button .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
   }
   
   button .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
   }
   
   button:hover .liquid {
    top: -120px;
   }
   
   @keyframes animate {
    0% {
     transform: translate(-50%, -75%) rotate(0deg);
    }
   
    100% {
     transform: translate(-50%, -75%) rotate(360deg);
    }
   }

/* button design end */
.hero2{
    width: 70%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/selfhero.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat ;
    
    
}

.navbar{
    display: inline-flex;
    width: 100%;
    height: 60px;
    background-color: #000;
    justify-content: center;

}

.navbar ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: larger;
}

.navbar a:hover{
    color: #ffbf11;
}

#active{
    border-bottom: 3px solid #ffbf11;

}


/* ABOUT SECTION */

.cont2{
    width: 100%;
    height: 60vh;
    display: flex;

}

.self1{
    width: 40%;
    height: 100%;
    background-color: #fff;
    align-items: center;
    padding: 40px;
}

.selfimg{
    width: 70%;
    height: 85%;
    background-color: #ffbf11;
}

.selfimg2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/selfabout.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    left:2em;
    top: 2em;

}

.abtme{
    width: 60%;
    height: 100%;
    padding-top: 50px;

}

.abtme h3{
    font-size: 2em;
    line-height: 1.2;
}

.abtme h2{
    font-size: 3em;
    margin: 20px 0 20px 0;
    color: #ffbf11;
}

.abtme p{
    font-size: 1.5em;
}

.abtme hr{
    width: 95%;
    border:2px solid #ffbf11;
   
}

.abtme button{
    background-color: #ffbf11;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
}

.abtme button:hover{
    background-color: #000;
    color: #fff;
}



/* SERVICES SECTION */
.servicesection{
    width: 100%;
    height: 50vh;
    background-color: #edefee;
    padding-top: 40px;
    text-align: center;
}

.servicesection h2{
    font-size: 2em;
    
}

.maincard{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    
}

.card{
    width: 25%;
    height: 70%;
    background-color: white;
    padding: 20px;
    border: 2px solid #ffbf11;
    border-radius: 8px;
    line-height: 1.2;
}


.card i{
    font-size: 35px;
    color: #ffbf11;
    margin-bottom: 30px;
    
}

/* PORTFOLIO SECTION */
/* .foliosect{
    width: 100%;
    height: 80vh;
    padding: 50px;
    text-align: center;
}

.gridcont{
    width: 100%;
    height: 90%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
   
}

.grid-item1{
    width: auto;
    height: auto;
    background-color: red;
}

.grid-item2{
    width: auto;
    height: auto;
    background-color: pink;
}

.grid-item3{
    width: auto;
    height: auto;
    background-color: green;
}

.grid-item4{
    width: auto;
    height: auto;
    background-color: #edefee;
} */

/* CONTACT ME SECTION */

.contact{
    width: 100%;
    height: 130vh;
    background-color: #fff;
    text-align: center;
    padding: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('./images/contact2.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat ;
}

.contact h2{
    font-size: 2em;
    line-height: 1.5;
}

.contact span{
    color: #ffbf11;
}

.contactform{
    background-color: rgba(255,191,17, 0.7) ;
    width: 50vw;
    height: 90vh;
    margin-left: 20em;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    text-align: justify;
    font-size: larger;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #000;
  }
  

/* FOOTER SECTION */

.footersect{
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #ffbf11;
    display: flex;
    align-items: center;
    
}

.ftsect1{
    width: 40%;
    height: 100%;
    
}

.ftsect2{
    width: 60%;
    height: 100%;

}
    
.ftsect2 i {
    margin-right: 20px;
}
